<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://battlesnakefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25010af9-7f24-4aca-9123-f7054c0566f7/resourceGroups/AzureFunctionResource/providers/Microsoft.Web/sites/BattlesnakeFunction</ResourceId>
    <UserName>$BattlesnakeFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://battlesnakefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>